* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-image: linear-gradient(to bottom, LightPink, #FFFFFF);
    background-attachment: fixed;
    color: #111111;
}

.mylist {
    background-color: #ffffff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #111111;
    border-radius: 24px;
    max-width: 400px;
    margin: 100px auto;
    padding: 15px;
    align-items: center;
}

.header-list {
    font-size: 28px;
    text-align: center;
    margin: 20px auto;
}

.add-task {
    border: 2px solid #d8d8d8;
    width: 300px;
    background-color: #ffffff;
    color: #111111;
    margin: 15px auto;
    display: flex;
    margin-bottom: 20px;
}

.add-task input {
    display: block;
    width: 300px;
    margin: 10px auto;
    border: 1.5px solid #000000;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

.todo-item {
    width: 100%;
    border: 2px solid #111111;
    border-radius: 8px;
    background-color: #ffffff;
    color: #111111;
    padding: 10px;
    margin: 15px auto;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-item label {
    flex-grow: 1;
    font-size: 15px;
}

.delete-button {
    color: #c04545;
    cursor: pointer;
}

.delete-button:hover {
    color: #f01818;
}

#textbox {
    border: 1px solid #ffffff;
    padding-left: 10px;
}

#add-task-button {
    background-color: LightPink;
    border: 2px solid #111;
    margin: 8px;
    font-size: 18px;
    color: #111;
    cursor: pointer;
}

#add-task-button:hover {
    background-color: #ffc0cb;
}


